<!-- CSS links-->
<link rel="stylesheet" href="~/css/test.css" />
<link rel="stylesheet" href="~/css/jumbotronCSS.css" />
<link rel="stylesheet" href="~/css/containerCSS.css" />
<link rel="stylesheet" href="~/css/pictureCSS.css" />
<link rel="stylesheet" href="~/css/textCSS.css" />
<link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
<!-- End of CSS links-->

<!-- BootStrap CDN-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- BootStrap CDN-->

<!-- Start of jumbotron-->
<div class="jumbotron">
    <h1 style="text-align: center; color:white">Why BHHC</h1>
    <h4 style="text-align: center; color:white">brian yee</h4>
</div>

<!--- Start of Reason container-->
<div class="container-fluid">
    <div class="row row-relaive justify-content-center stack">
    </div>
    <br />
    <br />
    <br />
    <!-- Start of BHHC's Core Values-->
    <div class="row row-relaive justify-content-center stack">
        <div class="col-sm-3 col-border ">
            <div class="col-border-padding">
                <img class="postPicture" src="~/images/coreValue.jpeg">
            </div>
        </div>
        <div class="col-sm-6 box " data-toggle="modal" data-toggle="tooltip" data-placement="top" title="Click to view reason 1" data-target="#coreValueModal">
            <h2 class="boxHeader postTitle_font">BHHC's Core Values</h2>
            <h1 class="post_font"> BHHC's core values of partnership, taking ownership, and integrity align with my values, and I would love to represent these values as a part of BHHC.</h1>
            <p style="color:#5db3fe">Click to see why these values are important to me</p>
        </div>
    </div>
    <br />
    <br />
    <br />
    <!-- Start of TechStack-->
    <div class="row row-relaive justify-content-center stack">
        <div class="col-sm-3 col-border ">
            <div class="col-border-padding">
                <img class="postPicture" src="~/images/c1.jpeg">
            </div>
        </div>
        <div class="col-sm-6 box " data-toggle="modal" data-toggle="tooltip" data-placement="top" title="Click to view reason 1" data-target="#techStackModal">
            <h2 class="boxHeader postTitle_font">TechStack (C# and .NET Framework)</h2>
            <h1 class="post_font">Despite having not worked with C# or .NET, I am excited to expand my skill sets with a powerful language and framework.</h1>
            <p class="clickMe_text">Click to see what excites me about C#/.NET</p>
        </div>
    </div>
    <br />
    <br />
    <br />
    <!-- Start of BHHC Image-->
    <div class="row row-relaive justify-content-center stack">
        <div class="col-sm-3 col-border ">
            <div class="col-border-padding">
                <img class="postPicture" src="~/images/bhhc_logo.jpeg">
            </div>
        </div>
        <div class="col-sm-6 box " data-toggle="modal" data-toggle="tooltip" data-placement="top" title="Click to view reason 1" data-target="#imageModal">
            <h2 class="boxHeader postTitle_font">BHHC's Image and Reputation</h2>
            <h1 class="post_font">Being able to contribute and be a part of a reputable company such as BHHC is very fulfilling and provides a sense of pride and accomplishment.</h1>
            <p class="clickMe_text">Click to see what I think makes BHHC great</p>
        </div>
    </div>
    <br />
</div>

<!-- Start of core value modal -->
<div id="coreValueModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- start of modal-->
        <div class="modal-content">
            <!-- start of modal header-->
            <div class="modal-header">
                <h3 class="modalHeader_font">Why BHHC's Values are Important</h3>
            </div>
            <!-- start of modal body -->
            <div class="modal-body">
                <div id="accordion">
                    <!-- start of reason 1 of modal -->
                    <div class="card">
                        <div class="card-header" id="coreValueheading1">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#coreValue_collapse1" aria-expanded="false" aria-controls="coreValue_collapse1">
                                  <h2 class="modalPost_font"> Partnership </h2>
                                </button>
                            </h5>
                        </div>
                        <div id="coreValue_collapse1" class="collapse" aria-labelledby="coreValueheading1">
                            <div class="card-body">
                              <h2 class="modalPost_font"> Partnership is an important value to me because I truly believe in collaboration and that working in a teams out weighs working indivdually. I think that
                                it is important for a company such as BHHC to value partnership because it creates a strong foundation in the working environment, but also allows for
                                the best support for their clients. Overall, I am excited that BHHC values partnership, and I am excited to represent partnership to provide better opportunities
                                for others. </h2>
                            </div>
                        </div>
                    </div>
                    <!-- start of reason 2 of modal -->
                    <div class="card">
                        <div class="card-header" id="coreValueheading2">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#coreValue_collapse2" aria-expanded="false" aria-controls="coreValue_collapse2">
                                  <h2 class="modalPost_font"> Taking Ownership </h2>
                                </button>
                            </h5>
                        </div>
                        <div id="coreValue_collapse2" class="collapse" aria-labelledby="coreValueheading2 ">
                            <div class="card-body">
                             <h2 class="modalPost_font">  Taking ownership is an important value and skill that I am happy BHHC values. This is because being able to take ownership of my own task
                                shows that BHHC trust their workers, but it also gives motivation. This is because since people have ownership of their works, they are held
                                responsible, and in turn better work is produced, but also a sense of achievment is instilled. </h2>
                            </div>
                        </div>
                    </div>
                    <!-- start of reason 3 of modal -->
                    <div class="card">
                        <div class="card-header" id="coreValueheading3">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#coreValue_collapse3" aria-expanded="false" aria-controls="coreValue_collapse3">
                                   <h2 class="modalPost_font">  Integrity  </h2class="modalPost_font">
                                </button>
                            </h5>
                        </div>
                        <div id="coreValue_collapse3" class="collapse" aria-labelledby="coreValueheading3">
                            <div class="card-body">
                             <h2 class="modalPost_font"> I believe that integrity is an important value in a work environment because being honest and having strong moral principles is essential
                                   in having a cohesive work environment. Also, with BHHC reaching out and providing support to many different companies and people, it is important 
                                   in this field to be honest in order to provide the best care. </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- start of modal exit button-->
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Exit</button>
            </div>
        </div>
    </div>
</div>

<!-- start of tech stack modal-->
<div id="techStackModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- start of modal-->
        <div class="modal-content">
            <!-- start of modal header-->
            <div class="modal-header">
                <h3 class="modalHeader_font">What Excites me about the Tech Stack?</h3>
            </div>
            <!-- start of modal body-->
            <div id="brian1" class="modal-body">
                <div id="accordion">
                    <!-- start of reason 1 of modal-->
                    <div class="card">
                        <div class="card-header" id="techStackheading1">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#techStack_collapse1" aria-expanded="false" aria-controls="techStack_collapse1">
                                   <h2 class="modalPost_font"> Ability to Learn and Expand My Skill Set</h2> 
                                </button>
                            </h5>
                        </div>
                        <div id="techStack_collapse1" class="collapse" aria-labelledby="techStackheading1">
                            <div class="card-body">
                               <h2 class="modalPost_font">  In the field of Computer Science, technology is always changing and improving, and because of that, I also have to adapt and change. Despite not having
                                the experience working in C# or .NET, I am confident that I have the programming foundamentals to succeed, but also the passion to learn this new 
                                tech stack. I am excited to learn, and I believe I have the patience and drive to master C# and .NET. </h2>
                            </div>
                        </div>
                    </div>
                    <!-- start of reason 2 of modal -->
                    <div class="card">
                        <div class="card-header" id="techStackheading2">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#techStack_collapse2" aria-expanded="false" aria-controls="techStack_collapse2">
                                    <h2 class="modalPost_font"> Power and Versitility of C#</h2>
                                </button>
                            </h5>
                        </div>
                        <div id="techStack_collapse2" class="collapse" aria-labelledby="techStackheading2">
                            <div class="card-body">
                               <h2 class="modalPost_font"> As I was working on this project, I first dwelved into the basics of C#. Right away I learned how powerful and flexible the programming language was.
                                From creating websites, to creating mobile apps, to creating window client applications, to even creating video games, C# is extremely versitile and this
                                excites me as I already have plans on fun side project to make during my free time using this tech stack. Also, what excites me about the power of C# is 
                                that there is the ability to do machine learning. Machine learning has been a topic of interest to me lately, and I definitely will see how C# performs in this area. </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- start of modal exit button-->
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Exit</button>
            </div>
        </div>
    </div>
</div>

<!-- start of image modal-->
<div id="imageModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- start of modal -->
        <div class="modal-content">
            <!-- start of modal header-->
            <div class="modal-header">
                <h3 class="modalHeader_font">BHHC's Greatness</h3>
            </div>
            <!-- start of modal body-->
            <div class="modal-body">
                <div id="accordion">
                    <!-- start of reason 1 of modal-->
                    <div class="card">
                        <div class="card-header" id="imageHeading1">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#image_collapse1" aria-expanded="false" aria-controls="image_collapse1">
                                 <h2 class="modalPost_font">  Awards and Prestige </h2>
                                </button>
                            </h5>
                        </div>
                        <div id="image_collapse1" class="collapse" aria-labelledby="imageHeading1">
                            <div class="card-body">
                             <h2 class="modalPost_font">   With BHHC being the fourth most admired company according to Fortune and the highest of any Financial Services company, there is no question
                                that BHHC got these titles based on how well they treat their employees and clients. From these prestigious accolades, BHHC has demostrated that
                                the well being of their employees and clients are a priority. Also, BHHC has been rated an A++ by A.M., and this excites me as I would love to
                                be a part of a company that is so highly valued by customers. </h2>
                            </div>
                        </div>
                    </div>
                    <!-- start of reason 2 of modal-->
                    <div class="card">
                        <div class="card-header" id="imageHeading2">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#image_collapse2" aria-expanded="false" aria-controls="image_collapse2">
                                    <h2 class="modalPost_font">Growth of Company</h2>
                                </button>
                            </h5>
                        </div>
                        <div id="image_collapse2" class="collapse" aria-labelledby="imageHeading2">
                            <div class="card-body">
                              <h2 class="modalPost_font">  BHHC has shown significant growth within the past 5 years, and it does not seem to be slowing down anytime soon. As BHHC continues to grow,
                                I would love to join in on a time where new ideas and innovations are constantly being brewed. I believe that because of this growth, BHHC 
                                will become even more reputable than it is already, and I would love to help pioneer new tech that will help support all the clients in the states. </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- start of modal exit button -->
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Exit</button>
            </div>
        </div>
    </div>
</div>


<!---- Jquery script for hoving effect -->
<script>
    $(document).ready(function () {
        $(".box").hover(function () {
            $(this).css("opacity", "0.4");
        }, function () {
                $(this).css("opacity", "1");
            });
    });
</script>


